// Brand Colors
$brand-color1: #0f1670;
$brand-color2: #0797ce;
$brand-color2-dark-variation1: #005db5;
$brand-color3: #cecece;

// Responsive Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;  