// Brand Colors
$brand-color1: #16325c;
$brand-color2: #16325c;
$brand-color2-dark-variation1: #16325c;
$brand-color3: #cecece;

// Responsive Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;