.no-padding-bottom {
  padding-bottom: 0 !important;
}

*,
*:hover,
*:focus {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: optimizespeed;
}

/* Web Font: Start */
/* Web Font: End */
html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1em;
}

.btn, .btn2, .btn1 {
  padding: 1rem 1.15rem;
  border-radius: 0.25rem;
  display: inline-block;
}

.btn1 {
   background: #1d1d1d;
   color: white;
   font-size: 1rem;
    height: 40px;
	padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
}
}



.btn2 {
  background: #1d1d1d;
  color: white;
}

.tabs {
  margin: 0;
}

.tabs__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.tabs__nav > li {
  height: 2rem;
  display: flex;
  align-items: center;
}
.tabs__nav > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.tabs__nav > li.active {
  color: #555;
  cursor: default;
  background-color: #f7f7f7;
  border: 1px solid #cbcbcb;
  border-bottom: 0;
  position: relative;
  top: 0.035rem;
}
.tabs__nav > li.active a {
  color: #555;
  cursor: default;
  border-bottom-color: transparent;
}
.tabs__nav > li.active a:hover, .tabs__nav > li.active a:focus {
  color: #555;
  cursor: default;
  border-bottom-color: transparent;
}

.tabs__content {
  float: left;
  width: 100%;
  border: 1px solid #cbcbcb;
}
.tabs__content > .tabs__pane {
  display: none;
  background: #f7f7f7;
}
.tabs__content > .tabs__pane.active {
  display: block;
  padding: 2.5% 2.5%;
}
.tabs__content .active {
  display: block;
}


table {
  border: 1px solid red;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}
table th {
  border: 1px solid #cdcdcd;
  padding: 0.5rem;
  font-size: 0.75rem;
}
table tr td {
  border: 1px solid #cdcdcd;
  padding: 0.5rem;
  margin: 0;
}
table tr td img {
  max-width: 15rem;
}

/* Containers: Start */
section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.site-content {
  padding-top: 0;
  padding-bottom: 0;
}

/* ----------------- Containers: Start --------------- */
/* Site Content: Start */
.site-content__section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  .site-content__section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* border: 1px solid red; */
  }
}
@media only screen and (min-width: 992px) {
  .site-content__section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* border: 1px solid red; */
  }
}
/* Site Content: End */
/* Container: Start */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .container {
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
/* Container: End */
/* Container Fluid: Start */
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.container-fluid--no-padding {
  padding: 0;
}

/* Container Fluid: End */
/* ------------------ Containers: End ------------------ */
/* ----------------------- Aside: Start ----------------------- */
aside {
  /* border: 1px solid red; */
}

aside article {
  padding-bottom: 2rem;
  /* border: 1px solid green; */
}

aside article:last-child {
  padding-bottom: 2rem;
}

aside article:last-of-type {
  padding-bottom: 0;
}

/* ----------------------- Aside: End ----------------------- */
/* Containers: End */
/* Containers: End */
/* 6. Forms: Start */
.form-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form-container input,
.form-container textarea {
  width: 100%;
  border: 1px solid #cdcdcd;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  border: 1px solid #807e7e;
}

.form-container .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}

.form-container .input-container label {
  margin-bottom: 0.5rem;
}

.form-container .input-group {
  display: flex;
  column-gap: 1rem;
}

.form-container .input-group > .input-container {
  flex: 1;
}

/* 6. Forms: End */
.admin-header {
  border-bottom: 1px solid #cdcdcd;
}
.admin-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}
.admin-header__logo {
  width: 7rem;
}
.admin-header__navigation {
  font-size: 0.8rem;
  border: 1px solid #cdcdcd;
  padding: 0.35rem 0.5rem;
  border-radius: 0.35rem;
  position: absolute;
  left: 1rem;
  top: 5rem;
  background: white;
}
.admin-header__navigation-content {
  display: none;
}
.admin-header__navigation-content--show {
  display: block;
}
.admin-header__logout {
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid #cdcdcd;
  padding: 0.35rem 0.5rem;
  border-radius: 0.35rem;
  position: absolute;
  right: 4rem;
  top: 5.35rem;
  background: white;
}
.admin-header__user-details {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 5rem;
}
.admin-header__user-details-img {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.admin-sidebar__trigger {
  font-size: 0.7rem;
  border: 1px solid #cdcdcd;
  padding: 0.35rem;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .admin-sidebar__trigger {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .admin-header__navigation {
    position: static;
    border: none;
    margin-left: auto;
    margin-right: 1rem;
  }
  .admin-header__navigation-trigger {
    display: none;
  }
  .admin-header__navigation-content {
    display: block;
  }
  .admin-header__navigation-ul {
    display: flex;
    column-gap: 1rem;
  }
  .admin-header__user-details {
    position: static;
    margin-left: 1rem;
  }
  .admin-header__logout {
    position: static;
  }
}
.admin-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  top: 4.05rem;
  height: 100%;
  left: -100%;
  transition: all 0.35s ease-in-out 0s;
  padding: 1.5rem;
}
.admin-sidebar__navigation-heading {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #555;
}
.admin-sidebar__navigation-ul {
  padding: 0.75rem;
}
.admin-sidebar__navigation-li {
  line-height: 1.5;
}
.admin-sidebar__navigation-link {
  height: 1rem;
}

.admin-sidebar--active {
  left: 0;
}

@media only screen and (min-width: 768px) {
  .admin-sidebar {
    position: static;
    border: 1px solid #cdcdcd;
    border-radius: 0.5rem;
    background-color: white;
  }
}
.admin-content {
  height: 100%;
  padding-top: 4rem;
}

@media only screen and (min-width: 768px) {
  .admin-content {
    display: grid;
    grid-template-columns: 10rem 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .admin-content {
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 14rem 1fr;
  }
}
.admin-main-section {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
.admin-main-section__content {
  background: #fff;
  padding: 1.5rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.5rem;
  height: 100%;
  display: grid;
  grid-gap: 1rem;
}
.admin-main-section__content-item {
  background: #f5f5f5;
  padding: 2rem;
  border-radius: 0.35rem;
  font-weight: 500;
  font-size: 1.15rem;
  align-items: center;
  justify-content: space-between;
}
.admin-main-section__heading {
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .admin-main-section {
    margin-top: 1rem;
    padding-right: 0;
  }
}
.admin-footer {
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #cdcdcd;
  text-align: center;
}
.admin-footer__copyright {
  font-size: 0.7rem;
}

.dashboard__contents {
  display: grid;
  grid-gap: 1rem;
}
.dashboard__contents-items {
  background: #f5f5f5;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 1.5rem;
  column-gap: 1rem;
}
.dashboard__contents-icon-img {
  height: 2rem;
}
.dashboard__contents-items-label {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .dashboard__contents {
    grid-template-columns: repeat(2, 1fr);
  }
  .dashboard__contents-items {
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .dashboard__contents-items-label {
    font-size: 1.25rem;
  }
  .dashboard__contents-icon-img {
    height: 2.5rem;
  }
}


.href_add
{
  	cursor: pointer;
    font-size: 0.8rem;
    border: 1px solid #cdcdcd;
    padding: 0.35rem 0.5rem;
    border-radius: 0.35rem;
    position: absolute;
    right: 4rem;
    top: 5.35rem;
    background: white;
}

.href_back
{
  	cursor: pointer;
    font-size: 0.8rem;
    border: 1px solid #cdcdcd;
    padding: 0.35rem 0.5rem;
    border-radius: 0.35rem;
    position: absolute;
    right: 4rem;
    top: 5.35rem;
    background: white;
}

.form-validation {
  font-weight: 600;
  color: red;
}

.form-loading {
  padding-bottom: 0.75rem;
}

/* Form Global Styles: Ends */
#msgstatus {
  background: white;
  border: 1px solid #52d552;
  padding: 0.5rem 2rem;
  display: inline-flex;
  justify-content: center;
  color: #57cb4c;
  font-weight: 600;
}

/* Form Loader */
.form-loader {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.enable-form-loader .form-loader-wrapper {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: absolute;
  z-index: 1000;
  background: none;
  justify-content: flex-start;
}

.enable-form-loader .form-loader-wrapper span {
  background: #377dea;
  height: 15px;
  margin: 0 7px;
  width: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.enable-form-loader .form-loader-wrapper span:nth-child(1) {
  -webkit-animation: pulse 1s linear 0s infinite normal forwards running;
  -moz-animation: pulse 1s linear 0s infinite normal forwards running;
  -o-animation: pulse 1s linear 0s infinite normal forwards running;
  animation: pulse 1s linear 0s infinite normal forwards running;
}

.enable-form-loader .form-loader-wrapper span:nth-child(2) {
  -webkit-animation: pulse 1s linear 0.5s infinite normal forwards running;
  -moz-animation: pulse 1s linear 0.5s infinite normal forwards running;
  -o-animation: pulse 1s linear 0.5s infinite normal forwards running;
  animation: pulse 1s linear 0.5s infinite normal forwards running;
}

.enable-form-loader .form-loader-wrapper span:nth-child(3) {
  -webkit-animation: pulse 1s linear 0.6s infinite normal forwards running;
  -moz-animation: pulse 1s linear 0.6s infinite normal forwards running;
  -o-animation: pulse 1s linear 0.6s infinite normal forwards running;
  animation: pulse 1s linear 0.6s infinite normal forwards running;
}
/*# sourceMappingURL=admin-style.css.map */

.cls_txt
{
   width:100%
}
.cls_btn
{
   text-align:center;
}
.btn_edit {
    background: #00A0E3;
    color: white;
    font-size: 1rem;
    height: 30px;
	padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
	border: none;
}
.btn_delete {
    background:#666666;
    color: white;
    font-size: 1rem;
    height: 30px;
	padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
	border: none;
}