// @use '../abstracts/variables' as *;
// @use '../abstracts/mixins' as *;

.btn1 {
    background: $brand-color1; 
    color: white;
    position: relative;
    column-gap: 0.35rem;
    display: inline-flex;
    align-items: center;
    font-size: .9rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 2.5rem;
    line-height: 2;
    border: 0;

    &:after {
        content: " ";
        background-image: url(../images/button-arrow.svg);
        width: 0.5rem;
        height: 0.5rem;
        background-repeat: no-repeat;
        background-size: 0.50rem;
    }

    &:hover {
        background: $brand-color2;
    }

    @include md() {
        font-size: 1rem;
        height: 3.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        &::after {
            width: 0.75rem;
            height: 0.75rem;
            background-repeat: no-repeat;
            background-size: 0.75rem;
        }
    }
}

.btn2 {
    background: $brand-color2;
    color: white;
    position: relative;
    column-gap: 0.35rem;
    display: inline-flex;
    align-items: center;
    font-size: .9rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 2.5rem;
    line-height: 2;

    &:after {
        content: " ";
        background-image: url(../images/button-arrow.svg);
        width: 0.5rem;
        height: 0.5rem;
        background-repeat: no-repeat;
        background-size: 0.50rem;
    }

    &:hover {
        background: $brand-color1;
    }

    @include md() {
        font-size: 1rem;
        height: 3.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        &::after {
            width: 0.75rem;
            height: 0.75rem;
            background-repeat: no-repeat;
            background-size: 0.75rem;
        }
    }
}




.btn1-text {
    background: none;
    color: black;
    position: relative;
    column-gap: 0.35rem;
    display: inline-flex;
    align-items: center;
    font-size: .80rem;
    height: 2rem;
    line-height: 2;
    border-bottom: 3px solid black;
    white-space: nowrap;

    &:after {
        content: " ";
        background-image: url(../images/button-arrow-dark.svg);
        width: 0.5rem;
        height: 0.5rem;
        background-repeat: no-repeat;
        background-size: 0.50rem;
    }

    &:hover {
        background: none;

        &::after {
            transform: rotate(45deg);
        }
    }
}


.btn1-square {
    @extend .btn1-text;
    border: none;
    border: 2px solid #999;
    padding: 0 0.5rem;
    font-size: .9rem;
}


.btn1-small {
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    background: #0f1670;
    color: white;
    align-items: center;
    display: flex;
    column-gap: 0.35rem;

    &:hover {
        background: $brand-color2;
    }

    &:after {
        content: " ";
        background-image: url(../images/button-arrow.svg);
        width: 0.55rem;
        height: 0.50rem;
        background-repeat: no-repeat;
        background-size: 0.55rem;
    }
}







@media only screen and (min-width:768px) {

    .btn1-text {
        font-size: 1rem;

        &:hover {
            color: $brand-color2;
        }

        &::after {
            width: 0.65rem;
            height: 0.65rem;
            background-size: 0.65rem;
        }
    }

}


// /* Buttons */
// .btn {color:#fff;padding: .75rem;font-size:.80rem;border-radius:.15rem;display: inline-flex;gap: .65rem;align-items: center;outline: none; border: none;cursor: pointer;  }
// .btn-wrapper {margin-top: .5rem;}

// .btn1 {background: $brand-color1; color: #fff;transition: 0.3s;}
// .btn1:hover {background: $brand-color2; transition: 0.3s;}

// @media only screen and (min-width:768px) {
// .btn {padding:.95rem;}	
// }
// @media only screen and (min-width:1200px) { 
// .btn {font-size: .93rem;font-weight: 500;}	
// }