/* Web Font: Start */


@font-face {
    font-family: 'syne';
    src: url('syne-regular.eot');
    src: url('../fonts/syne-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/syne-regular.woff2') format('woff2'),
        url('../fonts/syne-regular.woff') format('woff'),
        url('../fonts/syne-regular.svg#syne-regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'syne';
    src: url('syne-medium.eot');
    src: url('../fonts/syne-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/syne-medium.woff2') format('woff2'),
        url('../fonts/syne-medium.woff') format('woff'),
        url('../fonts/syne-medium.svg#syne-medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'syne';
    src: url('syne-semibold.eot');
    src: url('../fonts/syne-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/syne-semibold.woff2') format('woff2'),
        url('../fonts/syne-semibold.woff') format('woff'),
        url('../fonts/syne-semibold.svg#syne-semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'syne';
    src: url('syne-bold.eot');
    src: url('../fonts/syne-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/syne-bold.woff2') format('woff2'),
        url('../fonts/syne-bold.woff') format('woff'),
        url('../fonts/syne-bold.svg#syne-bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'syne';
    src: url('syne-extrabold.eot');
    src: url('../fonts/syne-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/syne-extrabold.woff2') format('woff2'),
        url('../fonts/syne-extrabold.woff') format('woff'),
        url('../fonts/syne-extrabold.svg#syne-extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}


/* Web Font: End */

html {
    font-family: 'syne', Arial, Helvetica, sans-serif;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 2rem - ($i * .25rem);
        margin-bottom: 1rem;
        line-height: 1.10;
    }
}

p {
    margin-bottom: 1em;
    line-height: 1.35;
}