// Abstracts
@use '../scss/abstracts/functions' as *;
@use '../scss/abstracts/helpers' as *;
@use '../scss/abstracts/mixins' as *;
@use '../scss/abstracts/variables' as *;

// Base
@use '../scss/base/reset' as *;
@use '../scss/base/typography' as *;

// Components
@use '../scss/components/accordion' as *;
@use '../scss/components/buttons' as *;
@use '../scss/components/carousels' as *;
@use '../scss/components/tabs' as *;
@use '../scss/components/tables' as *;

// Layouts
@use '../scss/layouts/containers' as *;
@use '../scss/layouts/footer' as *;
@use '../scss/layouts/forms' as *;
@use '../scss/layouts/header' as *;
@use '../scss/layouts/navigation' as *;

// Vendors
@use '../scss/vendors/swiper' as *;

// Admin Header: Start
.admin-header {
    border-bottom: 1px solid #cdcdcd;

    &__container {
        display: flex;
        // border: 2px solid red;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        background: #fff;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__logo {
        width: 110px;

        // @include lg-min {
        //     width: 12rem;
        // }
    }

    &__navigation {
        font-size: .8rem;
        border: 1px solid #cdcdcd;
        padding: 0.35rem 0.5rem;
        border-radius: 0.35rem;
        position: absolute;
        left: 1rem;
        top: 5rem;
        background: white;

        @include md-min {
            position: static;
            border: none;
            margin-left: auto;
            margin-right: 1rem;
        }
    }

    &__navigation-trigger {
        @include md-min {
            display: none;
        }
    }

    &__navigation-content {
        display: none;

        @include md-min {
            display: block;
        }
    }

    &__navigation-content--show {
        display: block;
    }

    &__navigation-ul {
        @include md-min {
            display: flex;
            column-gap: 1rem;
        }
    }

    &__navigation-li {}

    &__navigation-link {}

    &__logout {
        cursor: pointer;
        font-size: .8rem;
        border: 1px solid #cdcdcd;
        padding: 0.35rem 0.5rem;
        border-radius: 0.35rem;
        position: absolute;
        right: 4rem;
        top: 5.35rem;
        background: white;

        @include md-min {
            position: static;
        }
    }

    &__user-details {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        right: 1rem;
        top: 5rem;

        @include md-min {
            position: static;
            margin-left: 1rem;
        }
    }

    &__user-details-img {
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
    }

}

.admin-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    top: 4.05rem;
    height: 100%;
    left: -100%;
    transition: all 0.35s ease-in-out 0s;
    padding: 1.5rem;

    @include md-min {
        position: static;
        border: 1px solid #cdcdcd;
        border-radius: 0.5rem;
        background-color: white;
    }

    &__trigger {
        font-size: .7rem;
        border: 1px solid #cdcdcd;
        padding: 0.35rem;
        border-radius: 0.5rem;

        @include md-min {
            display: none;
        }
    }

    &__navigation-heading {
        background: #f5f5f5;
        border: 1px solid #e5e5e5;
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: 600;
        color: #555;
    }

    &__blocks-heading {
        margin-bottom: 0;
        font-size: .9rem;
        margin-left: 0.5rem;
        background: none;
        padding: 0.35rem;
        border: 1px solid #cdcdcd;
    }

    &__navigation-ul {
        padding: 0.75rem 1.5rem;
    }

    &__navigation-li {
        line-height: 1.15;
    }

    &__navigation-link {
        height: 1rem;
        font-size: .8rem;

    }

    &--active {
        left: 0;
    }

}


// Admin Header: End



.admin-content {
    height: 100%;
    padding-top: 4rem;

    @include md-min {
        display: grid;
        grid-template-columns: 10rem 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    @include lg-min {
        padding-left: 1rem;
        padding-right: 1rem;
        grid-template-columns: 17rem 1fr;
        // min-height: 90vh;
    }
}


// Admin Main Section: Start
.admin-main-section {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    grid-auto-rows: max-content;

    @include md-min {
        margin-top: 1rem;
        padding-right: 0;
    }

    &__content {
        background: #fff;
        padding: 1.5rem;
        border: 1px solid #cdcdcd;
        border-radius: 0.5rem;
        height: 100%;
        display: grid;
        grid-gap: 1rem;
        grid-auto-rows: max-content;
    }

    &__content-item {
        background: #f5f5f5;
        padding: 2rem;
        border-radius: 0.35rem;
        font-weight: 500;
        font-size: 1.15rem;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        font-weight: 400;
    }
}

// Admin Main Section: End


// Admin Footer: Start
.admin-footer {
    background: #ffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #cdcdcd;
    text-align: center;
    margin-top: auto;

    &__copyright {
        font-size: .7rem;
    }
}

// Admin Footer: End


// Dashboard: Start
.dashboard {
    &__contents {
        display: grid;
        grid-gap: 1rem;

        @include md-min {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__contents-items {
        background: #f5f5f5;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        height: 4rem;
        padding-left: 1.5rem;
        column-gap: 1rem;

        @include md-min {
            height: 13rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
    }

    &__contents-icon {}

    &__contents-icon-img {
        height: 2rem;

        @include md-min {
            height: 2.5rem;
        }
    }

    &__contents-items-label {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0;

        @include md-min {
            font-size: 1.25rem;
        }
    }
}







// Dashboard: End 


.form-success {
    padding: 1rem;
    border: 1px solid yellowgreen;
    margin-top: .75rem;
    background: #f4fdee;
}

/* Admin Style: Start */
.admin-login {
    margin-top: 9rem;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
}

.admin-login__logo-container {
    text-align: center;
    border: 2px solid red;

    img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Table Starts

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.enquiries-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th {

        &:nth-child(1) {
            width: 15%;
        }

        &:nth-child(2) {
            width: 20%;
        }

        &:nth-child(3) {
            width: 12%;
        }

        &:nth-child(4) {
            width: 12%;
        }

        &:nth-child(5) {
            width: 30%;
        }

        &:nth-child(6) {
            width: 11%;
        }

        font-size: 11px;
    }

    td {
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        font-size: 12px;

        &.message {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

// Quotations Table Starts

.quotations-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th {
        &:nth-child(1) {
            width: 10%;
        }

        // Name
        &:nth-child(2) {
            width: 15%;
        }

        // Email
        &:nth-child(3) {
            width: 10%;
        }

        // Phone
        &:nth-child(4) {
            width: 12%;
        }

        // From Country
        &:nth-child(5) {
            width: 12%;
        }

        // From City
        &:nth-child(6) {
            width: 12%;
        }

        // To Country
        &:nth-child(7) {
            width: 12%;
        }

        // To City
        &:nth-child(8) {
            width: 8%;
        }

        // Date
        &:nth-child(9) {
            width: 10%;
        }

        // Estimated Date
        &:nth-child(10) {
            width: 10%;
        }

        // Delivery Date
        &:nth-child(11) {
            width: 9%;
        }

        font-size: 11px;
        // Action
    }

    td {
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        font-size: 12px;

        &.ellipsis {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

// Quotations Table Ends


// Table Ends