/* Web Font: Start */

// Web Font Links Goes here

/* Web Font: End */

html {
    font-family: Arial, Helvetica, sans-serif;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 2rem - ($i * .25rem);
        margin-bottom: 1rem;
    }
}

p {
    margin-bottom: 1em;
}