@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.aegis-site-footer {
    @include xl-min {
        margin-left: 7rem;
    }

    &__container {
        padding-right: 0;
    }

    &__logo {
        width: 10rem;
        margin: 0 auto;
        margin-bottom: 1rem;

        @include sm-min {
            margin-right: auto;
            margin-left: 0;
            margin-bottom: 0;
        }

        @include lg-min {
            width: 14rem;
        }
    }

    &__row1 {
        margin-bottom: 1rem;

        @include sm-min {
            display: flex;

        }

        @include xl-min {
            margin-bottom: 3rem;
        }
    }

    &__row2 {
        background: #f5f5f5;
        padding: 2rem;



        @include sm-min {
            padding: 4rem 3rem;
        }

        @include xl-min {
            padding-left: 5rem;
            padding-top: 5rem;
        }
    }

    &__row3 {
        padding-bottom: 1rem;

        @include xl-min {
            padding-bottom: 2rem;
        }

        .aegis-site-footer-navbox {
            padding: 3rem;
            background: $brand-color1;
            margin-bottom: 1rem;

            @include lg-min {
                padding: 5rem 6rem;
            }

            &-ul {
                @include sm-min {
                    column-count: 2;
                }

                @include lg-min {
                    column-count: 3;
                }
            }

            &-li {
                line-height: 1.75;
            }

            &-links {
                color: white;
                font-size: .9rem;
            }
        }
    }

    .aegis-site-footer-social-media {
        display: flex;
        align-items: center;
        column-gap: .5rem;
        justify-content: center;

        @include xl-min {
            margin-right: 6rem;
        }

        &__box {
            display: flex;
        }

        &__link {
            display: flex;
            width: 2.15rem;
            height: 2.15rem;
            display: flex;
            background: white;
            align-items: center;
            justify-content: center;
            border: 1px solid #cdcdcd;
            margin: -1px;

            &-img-white {
                display: block;
                width: 1.15rem;
                height: 1.15rem;
            }

            &:hover {
                background: #0797ce;

                .aegis-site-footer-social-media__link-img {
                    display: none;
                }

                .aegis-site-footer-social-media__link-img-white {
                    display: block;
                    width: 1.15rem;
                    height: 1.15rem;
                }
            }

            @include lg-min {
                width: 3.5rem;
                height: 3.5rem;
            }

            &-img {
                width: 1.15rem;
                height: 1.15rem;
            }

            &-img-white {
                display: none;
            }
        }
    }

    &__contact-box {
        @include sm-min {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1rem;
            grid-column-gap: 2rem;
        }

        @include md-min {
            grid-column-gap: 6rem;
            grid-row-gap: 4rem;
        }

        &-links {
            font-size: .9rem;
        }
    }

    &__contact-box-items {
        margin-bottom: 1.5rem;
    }

    &__contact-box-icon {
        display: flex;
        max-height: 1.3rem;
        width: 1.3rem;
    }

    &__contact-box-p {
        margin-bottom: 0;
        margin-left: 2rem;
        font-size: .8rem;
    }

    &__contact-box-heading {
        font-size: .9rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        column-gap: .75rem;

        @include lg-min {
            font-size: 1.15rem;
        }
    }

    .copyright {
        background: white;
        line-height: 1.25;
        font-size: .8rem;
    }
}