@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Form Global Styles: Starts */
.form {
    margin: 0;
    padding: 1.15rem;
    background: #e9e9e9;

    @include md-min {
        padding: 2rem;
    }
}

.form__row {
    display: grid;
    grid-column-gap: .75rem;
}

.form__row-heading {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: .9rem;
}

.form__group {
    display: grid;
    grid-column-gap: 1rem;
}

.form__field-container {
    margin-bottom: 1rem;
}

.form__input-text {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: .5rem .65rem;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1.1rem;
    letter-spacing: .5px;
}

// .form__input-text:focus {
//     border: 1px solid red;
// }

.form__input-textarea {
    border: 1px solid #fff;
    margin-bottom: .5rem;
    padding: .5rem;
    font-family: inherit;
    width: 100%;
}

.form__input-select {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: .5rem;
    padding: .5rem .65rem;
    border: 1px solid #bfbcbc;
    box-sizing: border-box;
    border-radius: .25rem;
}

.form__input-file {
    background: #fff;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    border: 1px solid #bfbcbc;
    font-size: .75rem;
    display: flex;
    text-indent: .5rem;
    border-radius: .25rem;
}

.form__textarea {
    border: 1px solid #bfbcbc;
    height: 100%;
    width: 100%;
}

.form__label {
    margin-bottom: .5rem;
    display: flex;
}

.form__validation {
    color: red;
    margin-top: .35rem;
    display: none;
}

.form__submit-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: .75rem;
}

input[type="date"] {
    text-transform: uppercase;
}

input[type="submit"] {
    padding: .75rem 1rem;
    border: 0;
    cursor: pointer;
    color: white;
    border: none;
    line-height: 1;
}

.form-validation {
    // padding: 0.5rem 1rem;
    // border: 1px solid red;
    font-weight: 600;
    color: red;
}

.form-loading {
    padding-bottom: .75rem;
}

/* Form Global Styles: Ends */


#msgstatus {
    background: white;
    border: 1px solid #52d552;
    padding: 0.5rem 2rem;
    display: inline-flex;
    justify-content: center;
    color: #57cb4c;
    font-weight: 600;
}

/* Request Quote Styles: Starts */
.request-quote-form {

    &__row2 {

        .form__group {
            @include md-min {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    &__row4 {

        .form__group {
            @include md-min {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

.phone-field-group {
    display: grid;
    grid-template-columns: 85px 1fr;
    gap: 5px;

    &__country-code {
        display: flex;
        background: white;
        padding-left: 3px;

        input {
            padding: 3px 6px;
        }
    }

    &__flag {
        padding: 3px;
        max-width: 35px;
        display: flex;
    }
}

/* Request Quote Styles: Ends */





































/*Custom Styles */

.aegis-question-form {
    padding: 1rem;

    @include md-min {
        padding: 1.5rem;
    }

    @include lg-min {
        padding: 2.15rem;
    }

    &__row2 {
        @include md-min {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (min-width:576px) {
    .aegis-question-form__row1 {
        // grid-template-columns: 1fr 1fr;
    }

    .aegis-question-form__row1-col2 {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width:992px) {
    .aegis-question-form__row3-col1 {
        grid-template-columns: 25% 1fr;
    }



}


/* Sidebar Form */

.sidebar-form {
    margin-bottom: 1.5rem;

    &__container {
        padding: 1.75rem;
    }

    // @include lg-min {
    //     padding: 2rem;
    // }

    &__row2 {
        @include md-min {
            // grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (min-width:576px) {
    .sidebar-form__row1 {
        // grid-template-columns: 1fr 1fr;
    }

    .sidebar-form__row1-col2 {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width:992px) {
    .sidebar-form__row3-col1 {
        // grid-template-columns: 25% 1fr;
    }



}


/* Form Loader */

.form-loader {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.enable-form-loader .form-loader-wrapper {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    position: absolute;
    z-index: 1000;
    background: none;
    justify-content: flex-start;
}

.enable-form-loader .form-loader-wrapper span {
    background: #377dea;
    height: 15px;
    margin: 0 7px;
    width: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.enable-form-loader .form-loader-wrapper span:nth-child(1) {
    -webkit-animation: pulse 1s linear 0s infinite normal forwards running;
    -moz-animation: pulse 1s linear 0s infinite normal forwards running;
    -o-animation: pulse 1s linear 0s infinite normal forwards running;
    animation: pulse 1s linear 0s infinite normal forwards running;
}

.enable-form-loader .form-loader-wrapper span:nth-child(2) {
    -webkit-animation: pulse 1s linear 0.5s infinite normal forwards running;
    -moz-animation: pulse 1s linear 0.5s infinite normal forwards running;
    -o-animation: pulse 1s linear 0.5s infinite normal forwards running;
    animation: pulse 1s linear 0.5s infinite normal forwards running;
}

.enable-form-loader .form-loader-wrapper span:nth-child(3) {
    -webkit-animation: pulse 1s linear 0.6s infinite normal forwards running;
    -moz-animation: pulse 1s linear 0.6s infinite normal forwards running;
    -o-animation: pulse 1s linear 0.6s infinite normal forwards running;
    animation: pulse 1s linear 0.6s infinite normal forwards running;
}


.landing-page-form {
    .form-validation {
        margin-top: 0.5rem;
    }

    .form-loading {
        margin-top: 1rem;
    }

    .enable-form-loader .form-loader-wrapper span {
        background-color: white;
    }

    .form__submit.btn1 {
        &:hover {
            background: $brand-color1;
        }
    }
}



@-webkit-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-moz-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-ms-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Phone field MM/DD/YYY */

input[type="date"] {
    position: relative;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    /* Adjust as needed */
    transform: translateY(-50%);
    color: #999;
    padding: 0 5px;
    background-color: white;
    /* Match background color */
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none;
}