@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.subpage-content {
    &__section {
        // padding-left: 1rem;
        // padding-right: 1rem;

        @include xl-min {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.subpage-main-content {
    // margin-top: 15rem;

    ul {
        list-style: disc;
        margin-left: 1rem;
    }

    @include md-min {
        // margin-top: 8rem;
    }

    @include lg-min {
        // margin-top: 5rem;
    }

    @include xl-min {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    &__single-column-container {
        display: grid;
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
    }

    &__double-column-container {
        display: grid;
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @include xl-min {
            // grid-template-columns: 1fr 18rem;
            grid-template-columns: minmax(0, 1fr) 22.75rem;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__col1-section {
        margin-bottom: 1.5rem;

        figure {
            margin-left: 0px;
            margin-right: 0;

            img {
                object-fit: cover;
                object-position: top;
                width: 100%;
            }
        }

        p {
            img {
                object-fit: cover;
                object-position: top;
                width: 100%;

                @include lg-min {
                    width: 100%;
                }
            }
        }
    }

    &__col2 {
        display: grid;
        grid-auto-rows: min-content;
    }
}


.service-brief-subpage__box {
    background: #efefef;
    padding: 2rem;

    @include lg-min {
        padding: 3.25rem 4rem;
    }



    .service-brief-subpage__ul {
        margin-left: 1rem;
        list-style: disc;

        @include sm-min {
            column-count: 2;
        }
    }

    .service-brief-subpage__li {
        position: relative;
        align-items: flex-start;
        column-gap: 0.5rem;
        line-height: 1.5;

    }
}

.service-brief-subpage__heading {
    font-size: 1rem;
    margin-bottom: 2rem;
}


.related-blog-listing {
    margin-top: 1rem;
    margin-bottom: 2rem;

    @include lg-min {
        margin-top: 2rem;
    }

    &__content {
        background: #efefef;
        padding: 1rem;

        @include lg-min {
            padding: 1.75rem;
        }
    }

    &__heading {}

    &__li {
        line-height: 1.25;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-size: 1rem;
    }

    &__ul {}
}






// Advertisement

.advertisement-horizontal {
    display: flex;

    @include xl-min {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

// Sidebar Ads

.sidebar-services-listbox {
    &__container {
        display: flex;
        background: #efefef;
        padding: 1.85rem 2rem;
    }

    &__img {
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 15rem;

        @include lg-min {
            height: 10rem;
        }
    }

    &__ul {
        margin-left: 0 !important;
    }

    &__li {
        position: relative;
        display: flex;
        align-items: flex-start;
        column-gap: 0.5rem;
        line-height: 1.80;

        &::before {
            content: " ";
            background-image: url(../../assets/images/bullet-arrow.svg);
            background-size: 1rem;
            display: flex;
            width: 1rem;
            height: 0.7rem;
            background-repeat: no-repeat;
            position: relative;
            top: 0.5rem;
        }
    }

    &__link {
        font-size: 1rem;

        &:hover {
            color: $brand-color2;
        }
    }

    @include xl-min {
        margin-top: 4rem;

        &.with-get-free-quote {
            margin-top: 10rem;
        }
    }
}


.contact-us-subpage-box {
    background: #efefef;
    color: #333;
    flex-direction: column;
    line-height: 1.35;
    padding: 1rem;
    border-radius: 0;
    border: 3px solid #cdcdcd;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    @include sm-min {

        align-items: center;
        column-gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include md-min {
        flex-direction: row;
        justify-content: center;
    }

    &__label {
        font-size: 1.25rem;
    }

    &__number {
        font-size: 1.75rem;
        font-weight: 600;
    }
}


.contact-us-page-contact-box {
    display: grid;
    grid-gap: 1.5rem;
    border: 1px solid #cdcdcd;
    padding: 1.5rem;

    @include lg-min {
        margin-top: 2.25rem;
    }

    &__content {
        line-height: 1;

        p {
            margin-bottom: 0;
            margin-left: 0;
        }
    }
}

.map {
    @include xl-min {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    &__iframe {
        border: 15px solid #cdcdcd;
        display: flex;
    }
}

.subpage {
    .aegis-header-static-box2 {
        display: grid;
        // grid-template-columns: 20rem 1fr;


        @include xl-min {
            position: relative;
            top: 0;
            margin-right: 7rem;
            // border: 4px solid green;
            width: auto;
            grid-template-columns: 15rem 1fr 18rem;
            margin-left: 7rem;
        }

        &__col1 {
            background: #f5f5f5;
            height: 6rem;
            display: none;
            align-items: center;
            padding-left: 2rem;

            @include xl-min {
                display: flex;
                padding-left: 0;
                padding-right: 0;
                height: 100%;
            }

            &-box {
                flex-direction: column;
                text-align: center;
                align-items: center;
                row-gap: .5rem;
            }

            &-box-text {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        &__col2 {
            display: none;
            background: #0797ce;
            color: white;
            height: 10rem;
            gap: 1rem;

            @include xl-min {
                display: flex;
                padding-left: 2rem;
                column-gap: 2rem;
            }

            @include xxl-min {
                padding-left: 3rem;
                column-gap: 3rem;
            }
        }

        &__col3 {
            .landing-page-form {
                padding-top: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                background: #28b2e7;
                position: relative;
                top: -2rem;

                &__heading {
                    color: white;
                    text-align: center;
                    margin-bottom: 0;
                }

                &__form-tag {
                    background: inherit;
                }

                .form__label {
                    color: white;
                }

                .form__field-container {
                    margin-bottom: .55rem;

                    .form__input-text {
                        font-size: 1rem;
                    }
                }

                @include xl-min {
                    right: 0;
                    position: absolute;
                    width: 22.75rem;
                    margin: 0;
                    top: -17.5rem;
                    padding-top: 1.5rem;
                    z-index: 10;
                }
            }
        }
    }
}