/* Error: Undefined mixin.
 *    ,
 * 9  | /     @include md() {
 * 10 | |         margin-top: 8rem;
 * 11 | \     }
 *    '
 *   tours-and-travels\assets\sass\pages\home.scss 9:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 9  \2502  \250c      @include md() {\a 10 \2502  \2502          margin-top: 8rem;\a 11 \2502  \2514      }\a    \2575 \a   tours-and-travels\\assets\\sass\\pages\\home.scss 9:5  root stylesheet";
}
