// @use '../abstracts/variables' as *;
// @use '../abstracts/mixins' as *;

/* Form Start Here */
.form {
    margin: 0;
    padding: 0;
    background: #e9e9e9;
}

.form__field-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form__row {
    display: grid;
    grid-column-gap: .75rem;
}

.form__col {
    display: grid;
    grid-column-gap: .75rem;
}

.form__input-text {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: .5rem;
    padding: 1rem;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 0;
}

// .form__input-text::focus {
//     border: 1px solid red;
// }

.form__input-textarea {
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-family: inherit;
}

.form__input-select {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: .5rem;
    padding: .5rem .65rem;
    border: 1px solid #bfbcbc;
    box-sizing: border-box;
    border-radius: .25rem;
}

.form__input-file {
    background: #fff;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    border: 1px solid #ebebeb;
    font-size: .75rem;
    display: flex;
    text-indent: .5rem;
    border-radius: .25rem;
}

.form__textarea {
    border: 1px solid #ebebeb;
    height: 100%;
}

.form__label {
    margin-bottom: .25rem;
}

.form__validation {
    margin-top: .25rem;
    color: red;
    display: none;
}

.form__submit-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: .75rem;
}

.form__submit {
    cursor: pointer;
}


.form-validation {
    // padding: 0.5rem 1rem;
    // border: 1px solid red;
    font-weight: 600;
    color: red;
}

.form-loading {
    padding-bottom: .75rem;
}

/*Custom Styles */

#msgstatus {
    background: white;
    border: 1px solid #52d552;
    padding: 0.5rem 2rem;
    display: inline-flex;
    justify-content: center;
    color: #57cb4c;
    font-weight: 600;
}


.aegis-question-form {
    padding: 1rem;

    @include lg() {
        padding: 2.15rem;
    }

    &__row2 {
        @include md() {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (min-width:576px) {
    .aegis-question-form__row1 {
        // grid-template-columns: 1fr 1fr;
    }

    .aegis-question-form__row1-col2 {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width:992px) {
    .aegis-question-form__row3-col1 {
        grid-template-columns: 25% 1fr;
    }



}


/* Sidebar Form */

.sidebar-form {
    margin-bottom: 1.5rem;

    &__container {
        padding: 1.75rem;
    }

    // @include lg() {
    //     padding: 2rem;
    // }

    &__row2 {
        @include md() {
            // grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (min-width:576px) {
    .sidebar-form__row1 {
        // grid-template-columns: 1fr 1fr;
    }

    .sidebar-form__row1-col2 {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width:992px) {
    .sidebar-form__row3-col1 {
        // grid-template-columns: 25% 1fr;
    }



}



/* Form Loader */

.form-loader {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.enable-form-loader .form-loader-wrapper {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    position: absolute;
    z-index: 1000;
    background: none;
    justify-content: flex-start;
}

.enable-form-loader .form-loader-wrapper span {
    background: #377dea;
    height: 15px;
    margin: 0 7px;
    width: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.enable-form-loader .form-loader-wrapper span:nth-child(1) {
    -webkit-animation: pulse 1s linear 0s infinite normal forwards running;
    -moz-animation: pulse 1s linear 0s infinite normal forwards running;
    -o-animation: pulse 1s linear 0s infinite normal forwards running;
    animation: pulse 1s linear 0s infinite normal forwards running;
}

.enable-form-loader .form-loader-wrapper span:nth-child(2) {
    -webkit-animation: pulse 1s linear 0.5s infinite normal forwards running;
    -moz-animation: pulse 1s linear 0.5s infinite normal forwards running;
    -o-animation: pulse 1s linear 0.5s infinite normal forwards running;
    animation: pulse 1s linear 0.5s infinite normal forwards running;
}

.enable-form-loader .form-loader-wrapper span:nth-child(3) {
    -webkit-animation: pulse 1s linear 0.6s infinite normal forwards running;
    -moz-animation: pulse 1s linear 0.6s infinite normal forwards running;
    -o-animation: pulse 1s linear 0.6s infinite normal forwards running;
    animation: pulse 1s linear 0.6s infinite normal forwards running;
}

@-webkit-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-moz-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-ms-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-o-keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}