// @use '../abstracts/variables' as *;
// @use '../abstracts/mixins' as *;

.subpage-main-content {
    margin-top: 15rem;

    ul {
        list-style: disc;
        margin-left: 1rem;
    }

    @include md() {
        margin-top: 8rem;
    }

    @include lg() {
        margin-top: 5rem;
    }

    @include xl() {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    &__single-column-container {
        display: grid;
        // grid-template-columns: 1fr 15rem;
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
    }

    &__double-column-container {
        display: grid;
        // grid-template-columns: 1fr 15rem;
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;

        @include lg() {
            grid-template-columns: 1fr 20rem;
        }
    }

    &__col1-section {
        margin-bottom: 1.5rem;
    }

    &__col2 {
        display: grid;
    }
}


.service-brief-subpage__box {
    background: #efefef;
    padding: 2rem;

    @include lg() {
        padding: 3.25rem 4rem;
    }



    .service-brief-subpage__ul {
        margin-left: 1rem;
        list-style: disc;

        @include sm() {
            column-count: 2;
        }
    }

    .service-brief-subpage__li {
        position: relative;
        align-items: flex-start;
        column-gap: 0.5rem;
        line-height: 1.5;

        // &:before {
        //     content: " ";
        //     background-image: url(../../assets/images/bullet-arrow.svg);
        //     background-size: 1rem;
        //     display: flex;
        //     width: 1rem;
        //     height: 0.7rem;
        //     background-repeat: no-repeat;
        //     position: relative;
        //     top: 0.4rem;
        // }
    }
}

.service-brief-subpage__heading {
    font-size: 1rem;
    margin-bottom: 2rem;
}

// Advertisement

.advertisement-horizontal {
    display: flex;

    @include xl() {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

// Sidebar Ads

.sidebar-services-listbox {
    &__container {
        display: flex;
        background: #efefef;
        padding: 1.85rem 2rem;
    }

    &__img {
        display: flex;
    }

    &__ul {
        margin-left: 0 !important;
    }

    &__li {
        position: relative;
        display: flex;
        align-items: flex-start;
        column-gap: 0.5rem;
        line-height: 1.80;

        &::before {
            content: " ";
            background-image: url(../../assets/images/bullet-arrow.svg);
            background-size: 1rem;
            display: flex;
            width: 1rem;
            height: 0.7rem;
            background-repeat: no-repeat;
            position: relative;
            top: 0.5rem;
        }
    }

    &__link {
        font-size: 1rem;

        &:hover {
            color: $brand-color2;
        }
    }
}


.contact-us-subpage-box {
    background: #efefef;
    color: #333;
    flex-direction: column;
    line-height: 1.35;
    padding: 1rem;
    border-radius: 0;
    border: 3px solid #cdcdcd;
    margin-top: 2rem;
    display: flex;

    @include sm() {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__label {
        font-size: 1.25rem;
    }

    &__number {
        font-size: 1.75rem;
        font-weight: 600;
    }
}


.contact-us-page-contact-box {
    display: grid;
    grid-gap: 1.5rem;
    border: 1px solid #cdcdcd;
    padding: 1.5rem;
    grid-auto-rows: max-content;

    @include lg() {
        margin-top: 2.25rem;
    }

    &__content {
        line-height: 1;

        p {
            margin-bottom: 0;
            margin-left: 0; 
            // display: none;
        }
    }
}



.map {
    @include xl() {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    &__iframe {
        border: 15px solid #cdcdcd;
        display: flex;
    }
}