@use '../abstracts/mixins' as *;


.faq {
    // margin: 1rem auto;
    // padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 0;

    @include xl-min {
        // width: 1250px;
        padding-top: 3rem;
    }

    &__heading {
        text-align: center;

        @include md-min {

            font-size: 2.15rem;
            margin-bottom: 2rem;
        }
    }

    &__container {
        padding-left: 1rem;
        padding-right: 1rem;

        @include xl-min {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__item {
        background-color: #f1f1f1;
        color: #111;
        margin: 1rem 0;
        border-radius: 0.5rem;
    }

    &__item-header {
        padding: 1rem;
        min-height: 3.5rem;
        line-height: 1.25rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        justify-content: space-between;
        margin: 0;
        font-size: 1rem;
        column-gap: 1rem;

        @include xl-min {
            padding: 1rem 1.5rem;
        }

        &.active {
            .faq {
                &__item-header-icon {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    &__item-header-icon {
        width: 1rem;
        height: 1rem;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: '';
            opacity: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: all 0.25s ease 0s;
            border: 1px solid #000;
        }

        &::before {
            content: '';
            transform: rotate(90deg);
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            border: 1px solid #000;
        }
    }

    &__item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    &__item-body-content {
        padding: 0 1.5rem 1rem 1.5rem;
        line-height: 1.5rem;

        p {
            span {
                font-family: 'syne', Arial, Helvetica, sans-serif !important;
            }
        }
    }

}