// Abstracts
@use '../sass/abstracts/functions' as *;
@use '../sass/abstracts/helpers' as *;
@use '../sass/abstracts/mixins' as *;
@use '../sass/abstracts/variables' as *;

// Base
@use '../sass/base/reset' as *;
@use '../sass/base/typography'  as *;

// Components
@use '../sass/components/accordion' as *;
@use '../sass/components/buttons' as *;
@use '../sass/components/carousels' as *;

// Layouts 
@use '../sass/layouts/containers' as *;
@use '../sass/layouts/footer' as *;
@use '../sass/layouts/forms'  as *;
@use '../sass/layouts/header' as *;
@use '../sass/layouts/navigation' as *;

// Vendors
@use '../sass/vendors/swiper' as *;

// body {border:2px solid green; } 


/* Main Index Style: Starts */
.main-index {
    background: #f5f5f5;
    padding: .75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__heading {
        text-align: center;
        font-size: 1.35rem;
        margin-bottom: 2rem;
        margin-top: 1rem;

        &:after {
            content: " ";
            background: blue;
            height: 0.15rem;
            width: 5rem;
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &__container {
        display: grid;
        grid-gap: .65rem;
        width: 100%;
    }
    &__items {
        display: grid;
        grid-template-columns: 7rem 1fr;
        padding: .5rem;
        background: white;
        border: 1px solid #e7e7e7;
    }

    &__items-col1 {}

    &__items-img {
        object-fit: cover;
        height: 12rem;
        display: flex;
    }

    &__items-col2 {
        text-align: center;
        display: flex;
        flex-direction: column;
        background: white;
        justify-content: center;
        align-items: center;
    }

    &__items-logo {
        height: 4rem;
        margin-bottom: 0.75rem;
    }


}

@media only screen and (min-width:576px) {
    .main-index {
        &__heading {}

        &__container {
            grid-template-columns: repeat(2, 1fr);
        }

        &__items {}

        &__items-col1 {}

        &__items-img {}

        &__items-col2 {}

        &__items-logo {}

        &__items-link {}
    }
}

@media only screen and (min-width:768px) {
    .main-index {
        &__heading {}

        &__container {}

        &__items {}

        &__items-col1 {}

        &__items-img {}

        &__items-col2 {}

        &__items-logo {}

        &__items-link {}
    }
}

@media only screen and (min-width:992px) {
    .main-index {
        padding-left: 7rem;
        padding-right: 7rem;

        &__heading {}

        &__container {}

        &__items {
            // height: 11rem;
            grid-template-columns: 11rem 1fr;
            padding: 1rem;
        }

        &__items-col1 {}

        &__items-img {}

        &__items-col2 {
            width: 20rem;
        }

        &__items-logo {
            height: 7rem;
            margin-bottom: 1.25rem;
            width: auto;
        }

        &__items-link {}
    }
}

@media only screen and (min-width:1200px) {
    .main-index {
        &__heading {}

        &__container {}

        &__items {}

        &__items-col1 {}

        &__items-img {}

        &__items-col2 {}

        &__items-logo {}

        &__items-link {}
    }
}


/* Main Index Style: Ends */








.request-a-quote {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #efefef;
}





/* Main Navigation: Start */
.nav-trigger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.35s;
    transition-timing-function: linear;
    transition-delay: 0s;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    overflow: visible;
    margin: .75rem;
}

.nav-trigger:hover {
    opacity: 0.7;
}

.nav-trigger.active:hover {
    opacity: 0.7;
}

.nav-trigger.active .nav-trigger-inner,
.nav-trigger.active .nav-trigger-inner::before,
.nav-trigger.active .nav-trigger-inner::after {
    background-color: #333;
}

.nav-trigger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.nav-trigger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.nav-trigger-inner,
.nav-trigger-inner::before,
.nav-trigger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease;
}

.nav-trigger-inner::before,
.nav-trigger-inner::after {
    content: "";
    display: block;
}

.nav-trigger-inner::before {
    top: -10px;
}

.nav-trigger-inner::after {
    bottom: -10px;
}

.nav-trigger-slider .nav-trigger-inner {
    top: 2px;
}

.nav-trigger-slider .nav-trigger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.nav-trigger-slider .nav-trigger-inner::after {
    top: 20px;
}

.nav-trigger-slider.active .nav-trigger-inner {
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.nav-trigger-slider.active .nav-trigger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0;
}

.nav-trigger-slider.active .nav-trigger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg);
}

.main-navigation {
    flex-basis: 100%;
    display: none;
    border: 1px solid #cdcdcd;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.main-navigation ul li {
    background-color: #efefef;
}

.main-navigation ul li a {
    color: #333;
    display: block;
    // padding: 1.5rem 1.5rem;
    position: relative;
    background-color: #fff;
    height: 2rem;
}

.main-navigation ul li a:hover {
    background-color: #fff;
}

.main-navigation ul li.active a {
    font-weight: bold;
    width: 100%;
    background-color: #36327b;
}


@media only screen and (min-width:1199px) {
    .nav-trigger {
        display: none;
    }

    .main-navigation {
        display: flex;
        flex-basis: auto;
        margin: 0;
        border: none;
        column-gap: 3rem;
        padding-right: 0;
    }

    .main-navigation ul {
        display: flex;
        column-gap: 1.5rem;
    }

    .main-navigation ul li {
        background: none;
    }

    .main-navigation ul li a {
        display: flex;
        align-items: center;
    }

    // .main-navigation ul li a:after {
    //     background-color: #333;
    //     bottom: 0;
    //     content: "";
    //     height: 3px;
    //     left: 50%;
    //     position: absolute;
    //     transform: translateX(-50%);
    //     transition: width .3s;
    //     width: 0;
    // }

    .main-navigation ul li a:hover:after {
        width: 100%;
    }

    .main-navigation ul li.active a:after {
        width: 100%;
    }

}

/* Main Navigation: End */
/* Site Header: End  */





/* About-us-brief: Start */

.about-us-brief {

    &__container {
        display: grid;
        grid-gap: 1rem;
    }

    &__col2 {
        background: #fff;
        padding: 1.75rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__col2-ul {
        list-style: disc;
        padding-left: 1rem;
    }

    &__col2-heading {
        // font-size: 1rem;
    }

    &__col2-paragraph {}

    &__col1 {
        border-radius: .5rem;
    }

    &__col1-img {
        object-fit: cover;
        width: 100%;
        height: 17rem;
        border-radius: .5rem;
    }
}

@media only screen and (min-width:576px) {
    .about-us-brief {
        &__container {
            grid-template-columns: 14rem 1fr;
        }

        &__col2 {
            padding: 1.75rem 2rem;
        }

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {
            height: 20rem;
        }
    }
}

@media only screen and (min-width:768px) {
    .about-us-brief {
        &__container {
            grid-template-columns: 17rem 1fr;
        }

        &__col2 {}

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {}
    }
}

@media only screen and (min-width:992px) {
    .about-us-brief {
        &__container {
            grid-template-columns: 25rem 1fr;
        }

        &__col2 {
            padding: 1.75rem 4rem;
        }

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {}
    }
}

@media only screen and (min-width:1200px) {
    .about-us-brief {
        &__container {}

        &__col2 {}

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {}
    }
}

/* About-us-brief: End */


/* Services-brief: Start */

.services-brief {

    &__container {
        display: grid;
        grid-gap: 1rem;
    }

    &__col1 {
        background: #fff;
        padding: 1.75rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__col1-ul {
        list-style: disc;
        padding-left: 1rem;
    }

    &__col1-heading {
        // font-size: 1rem;
    }

    &__col1-paragraph {}

    &__col2 {
        border-radius: .5rem;
    }

    &__col2-img {
        object-fit: cover;
        width: 100%;
        height: 17rem;
        border-radius: .5rem;
    }
}

@media only screen and (min-width:576px) {
    .services-brief {
        &__container {
            grid-template-columns: 1fr 14rem;
        }

        &__col1 {
            padding: 1.75rem 2rem;
        }

        &__col1-heading {}

        &__col1-paragraph {}

        &__col2 {}

        &__col2-img {
            height: 20rem;
        }
    }
}

@media only screen and (min-width:768px) {
    .services-brief {
        &__container {
            grid-template-columns: 1fr 17rem;
        }

        &__col1 {}

        &__col1-heading {}

        &__col1-paragraph {}

        &__col2 {}

        &__col2-img {}
    }
}

@media only screen and (min-width:992px) {
    .services-brief {
        &__container {
            grid-template-columns: 1fr 25rem;
        }

        &__col1 {
            padding: 1.75rem 4rem;
        }

        &__col1-heading {}

        &__col1-paragraph {}

        &__col2 {}

        &__col2-img {}
    }
}

@media only screen and (min-width:1200px) {
    .services-brief {
        &__container {}

        &__col1 {}

        &__col1-heading {}

        &__col1-paragraph {}

        &__col2 {}

        &__col2-img {}
    }
}


/* Services-brief: End */


/* Features-brief: Start */

.features-brief {

    &__container {
        display: grid;
        grid-gap: 1rem;
    }

    &__col2 {
        background: #fff;
        padding: 1.75rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__col2-ul {
        list-style: disc;
        padding-left: 1rem;
    }

    &__col2-heading {
        // font-size: 1rem;
    }

    &__col2-paragraph {}

    &__col1 {
        border-radius: .5rem;
    }

    &__col1-img {
        object-fit: cover;
        width: 100%;
        height: 17rem;
        border-radius: .5rem;
    }
}

@media only screen and (min-width:576px) {
    .features-brief {
        &__container {
            grid-template-columns: 14rem 1fr;
        }

        &__col2 {
            padding: 1.75rem 2rem;
        }

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {
            height: 20rem;
        }
    }
}

@media only screen and (min-width:768px) {
    .features-brief {
        &__container {
            grid-template-columns: 17rem 1fr;
        }

        &__col2 {}

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {}
    }
}

@media only screen and (min-width:992px) {
    .features-brief {
        &__container {
            grid-template-columns: 25rem 1fr;
        }

        &__col2 {
            padding: 1.75rem 4rem;
        }

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {}
    }
}

@media only screen and (min-width:1200px) {
    .features-brief {
        &__container {}

        &__col2 {}

        &__col2-heading {}

        &__col2-paragraph {}

        &__col1 {}

        &__col1-img {}
    }
}

/* Features-brief: End */


/* Subpage Banner: Start */

.subpage-baner {
    &__container {}

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
    }
}

@media only screen and (min-width:576px) {
    .subpage-baner {
        &__container {}

        &__img {}
    }
}

@media only screen and (min-width:768px) {
    .subpage-baner {
        &__container {}

        &__img {}
    }
}

@media only screen and (min-width:992px) {
    .subpage-baner {
        &__container {}

        &__img {}
    }
}

@media only screen and (min-width:1200px) {
    .subpage-baner {
        &__container {}

        &__img {}
    }
}


/* Subpage Banner: End */









/* Site Footer: Start */
.site-footer {
    margin-top: 2rem;

    &__container {}

    &__row1 {
        margin-bottom: 1.5rem;
    }

    &__logo {
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }

    &__logo-img {}

    &__nav {}

    &__nav-ul {
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        flex-wrap: wrap;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    &__nav-li {}

    &__nav-link {}

    &__ul {}

    &__item {}

    &__link {}

    &__row2 {
        margin-bottom: 2rem;
    }

    &__copyright {
        font-size: .7rem;
        text-align: center;
    }
}

@media only screen and (min-width:576px) {
    .site-footer {
        &__container {}

        &__row1 {}

        &__logo {}

        &__logo-img {}

        &__ul {}

        &__item {}

        &__link {}

        &__row2 {}

        &__copyright {}
    }
}

@media only screen and (min-width:768px) {
    .site-footer {
        margin-top: 3rem;

        &__container {}

        &__row1 {
            display: flex;
        }

        &__logo {
            margin-left: 0;
        }

        &__logo-img {}

        &__ul {}

        &__item {}

        &__link {}

        &__nav {
            display: flex;
            align-items: center;
        }

        &__row2 {}

        &__copyright {}
    }
}

@media only screen and (min-width:992px) {
    .site-footer {
        &__container {}

        &__row1 {}

        &__logo {}

        &__logo-img {}

        &__nav-ul {
            margin-right: auto;
        }

        &__item {}

        &__link {}

        &__row2 {}

        &__copyright {}
    }
}

@media only screen and (min-width:1200px) {
    .site-footer {
        &__container {}

        &__row1 {}

        &__logo {}

        &__logo-img {}

        &__ul {}

        &__item {}

        &__link {}

        &__row2 {}

        &__copyright {}
    }
}


/* Site Footer: End */
