@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.landing-page {
    .aegis-header-static-box {
        display: none;
    }

    .landing-page-banner {
        margin-top: 3.05rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        position: relative;
        height: auto;
        flex-direction: column;
        margin-bottom: 2rem;

        @include md-min {
            flex-direction: row;
            height: 30rem;
        }

        @include xl-min {
            margin-top: 0;
            margin-left: 7rem;
            height: 35rem;
        }



        &::after {
            content: " ";
            background: #000;
            opacity: 0.45;
            width: 100%;
            height: 20rem;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            @include xl-min {
                height: 35rem;
            }
        }

        &__col1 {
            position: relative;
            z-index: 1;

            @include md-min {
                flex-basis: 50%;
                width: auto;
            }

            @include xl-min {
                flex-basis: 45%;
            }
        }

        &__col2 {
            position: relative;
            z-index: 1;
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;

            @include md-min {
                flex-basis: 50%;
                width: auto;
            }

            @include xl-min {
                flex-basis: 30%;
                margin-left: 13.65rem;
            }
        }

        &__caption {
            position: relative;
            z-index: 10;
            color: white;
            margin-left: 1rem;
            line-height: 1;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            margin-right: 4rem;
            margin-top: 2rem;

            @include md-min {
                font-size: 3.5rem;
            }

            @include xl-min {
                margin-left: 4rem;
                font-size: 4rem;
                margin-bottom: 3rem;
            }

            &:after {
                content: " ";
                height: 0.25rem;
                background: #0797ce;
                width: 100%;
                display: flex;
                margin-top: 1rem;
            }


        }

        &__description {
            color: white;
            margin-left: 1rem;
            margin-right: 4rem;

            @include md-min {
                font-size: 1.5rem;
            }

            @include xl-min {
                margin-left: 4rem;
            }
        }

        &__img {
            position: absolute;
            z-index: -1;
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 20rem;

            @include md-min {
                height: 30rem;
            }

            @include xl-min {
                height: 35rem;
            }
        }
    }

    .landing-page-form {
        background-color: $brand-color2;



        &__heading {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            height: 3.5rem;

            @include xl-min {
                height: 4.5rem;
            }
        }

        &__form-tag {
            background-color: $brand-color2;
            padding-top: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-bottom: 1.5rem;

            &>p {
                margin-bottom: .5rem;
            }

            @include xl-min {
                padding-left: 2rem;
                padding-right: 2rem;
            }

        }

        .form__input-text {
            height: 2.25rem;
            line-height: 2.25rem;

            @include xl-min {
                font-size: 1rem;
                height: 2rem;
            }
        }

        .form__submit-wrapper {
            margin-bottom: 0;
        }

        .form__field-container {
            margin-bottom: .25rem;
        }

        .form__label {
            color: white;
        }

        .form__submit {
            width: 100%;
            justify-content: center;
        }
    }

}





.landing-page-services {
    margin-bottom: 3rem;

    @include xl-min {
        margin-bottom: 0;
    }

    &__heading {
        font-size: 1.5rem;
        text-align: center;

        @include md-min {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__items-container {
        display: grid;
        grid-gap: 1rem;

        @include sm-min {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md-min {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.5rem;
        }
    }

    &__items-heading {
        font-size: 1.15rem;
        min-height: 3rem;
        display: flex;
        align-items: end;
    }

    &__container {}

    &__description {
        margin-bottom: 0;
    }


    &__image {
        object-fit: cover;
        width: 100%;
        height: 10rem;
    }

    &__items {}
}


/* Why Choose Us: Start */

.why-choose-us {
    margin-bottom: 3rem;

    @include xl-min {
        margin-bottom: 0;
    }

    &__container {}

    &__heading {
        text-align: center;
        margin-bottom: 2rem;

        @include xl-min {
            font-size: 2rem;
        }
    }

    &__images {
        height: 2rem;
        width: auto;
    }

    &__items {
        background: #f7f7f7;
        padding: 1rem;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include md-min {
            height: 10rem;
        }
    }

    &__items-container {
        display: grid;
        grid-gap: 1rem;

        @include sm-min {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md-min {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__label {
        font-size: 1rem;
        margin-bottom: 0;
        text-align: center;
    }
}

/* Why Choose Us: End */

.landing-page-testimonials {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 2rem;

    @include md-min {
        margin-top: 3rem;
    }
}


.landing-page {
    .subpage-main-content {}
}


/* Stree Free Move: Start */

.stress-free-move {
    margin-bottom: 3rem;

    @include xl-min {
        margin-bottom: 0;
        margin-top: 50px;
    }

    &__container {}

    &__heading {
        text-align: center;

        @include md-min {
            margin-bottom: 3rem;
        }

        @include xl-min {
            font-size: 2rem;
            margin-bottom: 4rem;
        }
    }

    &__items {
        background-color: $brand-color2;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        @include md-min {
            width: 12rem;
            height: 12rem;
        }

    }

    &__items-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;

        &::before {
            content: ' ';
            background-color: $brand-color2;
            width: .20rem;
            height: 100%;
            position: absolute;
            z-index: -1;

            @include md-min {
                width: 100%;
                height: 0.20rem;
            }
        }

        @include md-min {
            flex-direction: row;
            justify-content: center;
            justify-content: space-between;
        }

    }

    &__items-icon {
        height: 2rem;
        width: auto;
    }

    &__items-label {
        color: white;
        font-weight: 600;
        width: 7rem;
        text-align: center;
        line-height: 1;

        @include md-min {
            width: 5rem;
            text-align: center;
            line-height: 1.25;

        }
    }
}

/* Stree Free Move: End */


/* Leave A Review: Start */

.leave-review {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Leave A Review: End */

/* Get A Free Quote: Start */
.get-free-quote-button {
    text-align: center;

    &__link {
        height: auto;
        background: $brand-color1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 1rem;
        font-size: 1.25rem;
        line-height: 1;
        width: auto;
        padding: 1rem 2rem;

        @include md-min {
            padding: 2rem 4rem;
            font-size: 2rem;
        }
    }

    &__icon {
        height: 2rem;
    }
}

/* Get A Free Quote: End */


.landing-page-social-media {
    right: 1rem;
}